*{
  margin: 0;
  font-family:Arial;
  border:border-box;
}
.border{
  border:2px solid transparent;
}
.border:hover {
  border-color:white;
}
.navbar {
  background-color: #0f1111;
  height: 60px;
  color:white;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(images/amazon-logo.jpg);
  background-size: cover;
  height: 50px;
  width:100%;
}
.deliver{
  display: flex;
  justify-content: center;
  align-items: center;
}
.deliver i {
  margin-top: 8px;
  font-size: 1.25rem;
  height: 1rem;
}
.deliver1 {
  font-size: 0.85rem;
  color:#cccccc;
}
.deliver2 {
  font-size: 1rem;
  font-weight: 700;
}

/*serch box*/
.nav-search {
  display: flex;
  height:40px;
  width: 620px;
  background-color: pink;
  border-radius: 6px;
  border-style:none;
}
.search-select {
  color:#555555;
  width: 45px;
  height: 40px;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #e5e3e3;
  font-size: 0.65rem;
}
.search-input {
  width:100%;
}
.search-icon {
  width: 45px;
  color: #0f1111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color:rgb(255, 200, 0);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}